@page "/accounts"
@using BM2.Shared.DTOs
@using BM2.Client.Components
@rendermode InteractiveAuto

<h3>Accounts</h3>

<MudButton @onclick="OpenAddAccountDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Add account
</MudButton>

<MudDataGrid T="AccountDTO" Items="@AccountList">
    <Columns>
        <PropertyColumn Title="Wallet" Property="x => x.Wallet!.WalletName">
            <CellTemplate>
                @context.Item.Wallet?.ToString()
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Name" Property="x => x.AccountName" />
        <PropertyColumn Title="Is active" Property="x => x.IsActive">
            <CellTemplate>
                <IsActiveGridIcon IsActive="context.Item.IsActive"/>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Currency" Property="x => x.DefaultCurrency" SortBy="x => x.DefaultCurrency!.Name">
            <CellTemplate>
                @context.Item.DefaultCurrency?.ToString()
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn StickyRight="true">
            <CellTemplate>
                <MudIconButton @onclick="@(async () => await OpenUpdateAccountAssignmentDialogAsync(context.Item))"
                               Icon="@Icons.Material.Outlined.CompareArrows"
                               Size="@Size.Small"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
