@page "/categories"
@using BM2.Shared.DTOs

<h3>Categories</h3>

<MudButton @onclick="OpenAddCategoryDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Add category
</MudButton>

<MudToggleIconButton @bind-Toggled="BlockedView"
                     Icon="@Icons.Material.Filled.LockOpen"
                     Color="@Color.Warning"
                     ToggledIcon="@Icons.Material.Filled.Lock"
                     ToggledColor="@Color.Default" />

<MudTable Items="CategoryWithWalletRelationList" Hover Bordered>
    <HeaderContent>
        <MudTh>Category Name</MudTh>
        @foreach (var wallet in WalletList)
        {
            <MudTh>@wallet.ToString()</MudTh>
        }
    </HeaderContent>

    <RowTemplate Context="category">
        <MudTd>@category.CategoryName</MudTd>
        @foreach (var relation in category.WalletRelations)
        {
            <MudTd>
                <MudSelect @bind-Value="@relation.Status" Variant="Variant.Text" Dense Disabled="BlockedView">
                    <MudSelectItem Value="@RelationStatus.Active">Yes</MudSelectItem>
                    <MudSelectItem Value="@RelationStatus.NotExist">No</MudSelectItem>
                    <MudSelectItem Value="@RelationStatus.Inactive">Blocked</MudSelectItem>
                </MudSelect>
            </MudTd>
        }
    </RowTemplate>
</MudTable>

