@page "/records"
@using BM2.Client.Services.DisplayServices
@using BM2.Shared.DTOs
@using BM2.Client.Components

<h3>Records</h3>

<MudButton @onclick="OpenAddRecordDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Add record
</MudButton>

<MudIconButton @onclick="GetRecords"
               Icon="@Icons.Material.Filled.Refresh"/>

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudNumericField Label="Year:" @bind-Value="SelectedYear"/>
    </MudItem>

    <MudItem xs="12" sm="6">
        <MudSelect @bind-Value="SelectedMonth" Label="Month:">
            @foreach (var month in _months)
            {
                <MudSelectItem Value="month.Value">@month.Text</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>

<MudDataGrid T="RecordDTO" Items="@RecordList" Dense>
    <Columns>
        <PropertyColumn Title="Name" Property="x => x.Name"/>
        <PropertyColumn Title="Account" Property="x => x.AccountId">
            <CellTemplate>
                @string.Concat(AccountList.SingleOrDefault(x => x.Id == context.Item.AccountId)?.ToString() ?? "")
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Amount/Planned" Property="x => x.Amount">
            <CellTemplate>
                @string.Concat(context.Item.Amount, '/', context.Item.PlannedAmount, context.Item.Currency?.Symbol)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Status" Property="x => x.Status" SortBy="x => x.Status!.RecordStatusName">
            <CellTemplate>
                <MudChip Size="Size.Small" Label="true" Variant="Variant.Text"
                         Icon="@context.Item.Status!.GetIconForRecordStatus()"
                         Color="@context.Item.Status!.GetColorForRecordStatus()">
                    @context.Item.Status?.ToString()
                </MudChip>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Category" Property="x => x.Category" SortBy="x => x.Category!.CategoryName">
            <CellTemplate>
                @context.Item.Category?.ToString()
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Tags" Property="x => x.Tags" SortBy="x => x.Tags.Count">
            <CellTemplate>
                @foreach (var tag in context.Item.Tags)
                {
                    <MudChip Color="Color.Tertiary" Size="Size.Small">@tag.TagName</MudChip>
                }
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Date of operation" Property="x => x.RecordDateTime">
            <CellTemplate>
                @context.Item.RecordDateTime.DateTimeUtcToLocal()
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn StickyRight="true">
            <CellTemplate>
                <MudIconButton @onclick="@(async () => await OpenUpdateRecordDialogAsync(context.Item))"
                               Icon="@Icons.Material.Outlined.Edit"
                               Size="@Size.Small"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>