@page "/tags"
@using BM2.Shared.DTOs

<h3>Tags</h3>

<MudButton @onclick="OpenAddTagDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Add tag
</MudButton>

<MudButton @onclick="UpdateTagWalletRelationAsync"
           Variant="Variant.Filled"
           Color="Color.Secondary">
    Save
</MudButton>

<MudToggleIconButton @bind-Toggled="BlockedView"
                     Icon="@Icons.Material.Filled.LockOpen"
                     Color="@Color.Warning"
                     ToggledIcon="@Icons.Material.Filled.Lock"
                     ToggledColor="@Color.Default"/>

<MudIconButton @onclick="GetTags"
               Icon="@Icons.Material.Filled.Refresh"/>


<MudTable Items="TagWithWalletRelationList" Hover Bordered>
    <HeaderContent>
        <MudTh>Tag name</MudTh>
        @foreach (var wallet in WalletList)
        {
            <MudTh>@wallet.ToString()</MudTh>
        }
    </HeaderContent>

    <RowTemplate Context="tag">
        <MudTd>@tag.TagName</MudTd>
        @foreach (var relation in tag.WalletRelations)
        {
            <MudTd>
                <MudSelect @bind-Value="@relation.Status" Variant="Variant.Text" Dense Disabled="BlockedView">
                    <MudSelectItem Value="@RelationStatus.Active">
                        <MudTooltip Text="Active">
                            <MudIcon Icon="@Icons.Material.Filled.Check"
                                     Color="Color.Success"
                                     Size="Size.Small"/>
                        </MudTooltip>
                    </MudSelectItem>
                    <MudSelectItem Value="@RelationStatus.NotExist">
                        <MudTooltip Text="Inactive">
                            <MudIcon Icon="@Icons.Material.Filled.Close"
                                     Color="Color.Error"
                                     Size="Size.Small"/>
                        </MudTooltip>
                    </MudSelectItem>
                    <MudSelectItem Value="@RelationStatus.Inactive">
                        <MudTooltip Text="Blocked to add new">
                            <MudIcon Icon="@Icons.Material.Filled.Block"
                                     Color="Color.Default"
                                     Size="Size.Small"/>
                        </MudTooltip>
                    </MudSelectItem>
                </MudSelect>
            </MudTd>
        }
    </RowTemplate>
</MudTable>

